.my-header {
    background-color: grey;
    border: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
    height: 550px;
    margin: auto;
}
.name {background:teal;
    color:white;
    text-align: right;
    width: 300px;
    margin: 150px;
    height: 100px;

}
.right_three {
    background-color:palegreen;
    float: right;
    color: grey;
    text-align: right;
    height: 200px;
    font-size: 50px;
}