.my-header {
    background-color: grey;
    border: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
    height: 150px;
    margin: auto;
}
.name {background:teal;
    color:white;
    text-align: right;
    width: 300px;
    margin: 150px;
    height: 100px;
    float: left

}
.right_three {
    background-color: antiquewhite;
    color: teal;
    float: left;
}